.navbar {
  display: flex;
  align-items: center;
  min-height: var(--px-56);
}

.navbar__brand {
  color:  #062B65;
  font-size: var(--font-size-xl);
  font-weight: 500;
  margin-right: var(--sp-2);
}
@media (min-width: 480px) {
  .navbar__brand {
    margin-right: var(--sp-3);
  }
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  color:   #0047AB;
  font-weight: 600;
  padding: var(--sp-1);
}

.navbar__link:hover {
  color:  #004DD7;
  text-decoration: none;
}

.navbar__link.active {
  color:  #004DD7;
}

.login-button {
  background-color: #ffffff; /* White background color */
  color: #000000; /* Black text color */
  padding: 10px 10px; /* Padding around text */
  border: none; /* No border */
  cursor: pointer; /* Cursor style on hover */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.login-button:hover {
  background-color: #e0e0e0; /* Light gray on hover */
  color: #000000; /* Black text color on hover */
}

